.gigs {
  width: 100%;
  display: flex;
  justify-content: center;
}
.gigs .container {
  max-width: 1400px;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.gigs .container .search {
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: row wrap;
  width: 40vw;
  position: sticky;
}
.gigs .container .search .searchInput {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 10px;
  border: 2px solid #555;
  border-radius: 5px;
  margin-right: 5%;
}
.gigs .container .search .searchInput img {
  width: 20px;
  height: 20px;
  margin: 10px;
}
.gigs .container .search .searchInput input {
  border: none;
  outline: none;
}
.gigs .container .search .searchInput input::-moz-placeholder {
  color: gray;
}
.gigs .container .search .searchInput input::placeholder {
  color: gray;
}
.gigs .container .search button {
  width: 80px;
  height: 40px;
  border: none;
  background-color: #1dbf73;
  color: white;
  border-radius: 5%;
  cursor: pointer;
}
.gigs .container .breadcrumbs {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 13px;
  color: #555;
}
.gigs .container h1 {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}
.gigs .container p {
  color: #999;
  font-weight: 300;
}
.gigs .container .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.gigs .container .menu .left {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #555;
  font-weight: 300;
  flex-wrap: wrap;
}
.gigs .container .menu .left input {
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  outline: none;
}
.gigs .container .menu .left input::-moz-placeholder {
  color: #999;
}
.gigs .container .menu .left input::placeholder {
  color: #999;
}
.gigs .container .menu .left button {
  padding: 5px 10px;
  background-color: #1dbf73;
  color: white;
  border: none;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}
.gigs .container .menu .right {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.gigs .container .menu .right .sortBy {
  color: #555;
  font-weight: 300;
}
.gigs .container .menu .right .sortType {
  font-weight: 500;
}
.gigs .container .menu .right img {
  width: 15px;
  cursor: pointer;
}
.gigs .container .menu .right .rightMenu {
  padding: 20px;
  background-color: white;
  border: 0.5px solid lightgrey;
  border-radius: 5px;
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 9;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #555;
}
.gigs .container .menu .right .rightMenu span {
  cursor: pointer;
}
.gigs .container .cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.gigs .container .cards .card {
  width: calc(33.333% - 10px);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}
.gigs .container .cards .card .imageWrapper {
  position: relative;
  padding-bottom: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gigs .container .cards .card .imageWrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gigs .container .cards .card .content {
  padding: 20px;
}
.gigs .container .cards .card .content .title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.gigs .container .cards .card .content .price {
  font-size: 16px;
  font-weight: 500;
  color: #1dbf73;
  margin-bottom: 10px;
}/*# sourceMappingURL=Gigs.css.map */